.postTitle {
  margin-bottom: 0;
  font-size: 1.75rem;
}

h2:not([class]) {
  position: relative;
  padding-left: 1rem;
}
h2:not([class])::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 6px;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgb(38, 166, 154) 0%,
    rgb(38, 166, 154) 50%,
    rgb(38, 194, 178) 50%,
    rgb(38, 194, 178) 100%
  );
  border-radius: 6px;
  content: "";
}

.postDateList {
  display: flex;
  margin-bottom: 0;
  margin-left: 0;
  list-style: none;
}

.postDateItem {
  margin-bottom: 5px;
}
.postDateItem:last-child {
  margin-left: 10px;
}

.postDate {
  font-size: 0.75rem;
}

.post .tags {
  margin-top: 12px;
}

.postContent {
  margin-top: 2rem;
}
