.postTitle {
  margin-bottom: 0;
  color: #fff;
}
@media (min-width: 61.25em) {
  .postTitle {
    font-size: 1.875rem;
  }
}

h1,
h2,
h3,
h4 {
  color: #fff;
  letter-spacing: 0.03em;
}

h2:not([class]) {
  position: relative;
  padding-left: 1rem;
}
h2:not([class])::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 6px;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgb(38, 166, 154) 0%,
    rgb(38, 166, 154) 50%,
    rgb(38, 194, 178) 50%,
    rgb(38, 194, 178) 100%
  );
  border-radius: 6px;
  content: "";
}

.postDateList {
  display: flex;
  margin: 2rem 0 0;
  list-style-type: none;
}

.postDateListItem {
  margin-bottom: 0;
}

.postDateListItem:last-child {
  margin-left: 10px;
}

.postDate {
  font-size: 0.75rem;
}

.post .tags {
  display: flex;
  margin: 12px 0 0;
  list-style-type: none;
}

.postContent {
  margin-top: 2rem;
}
