.post {
  padding: 28px 0;
  border-top: 1px solid #555;
}
.post:last-child {
  border-bottom: 1px solid #555;
}

.postHeader {
  display: flex;
  align-items: center;
}

.postLink {
  display: block;
  color: #fff;
  line-height: 1.25;
  text-decoration: none;
}
.postLink:hover {
  background-color: #555;
}

.postTitle {
  margin: 12px 0 0;
  font-size: 1.1875rem;
  line-height: 1.6842;
}

.postDate {
  margin-right: 11px;
  color: #ccc;
  font-size: 0.75rem;
  line-height: 1;
}

.postTags {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 11px;
  line-height: 1;
  list-style-type: none;
}
