.pageHeader {
  margin-top: 120px;
}

.pageHeading {
  color: #fff;
  font-weight: 500;
  font-size: 1.1875rem;
  text-align: center;
}
@media (min-width: 61.25em) {
  .pageHeading {
    font-size: 1.5rem;
  }
}

.pageHeading a {
  color: #fff;
  text-decoration: none;
}

.pageHeading a:hover {
  background-color: #555;
}

.pageHeadingEn {
  display: block;
  margin-bottom: 0.75rem;
  color: #26a69a;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.pageDescription {
  margin-top: 24px;
  color: #ccc;
  font-size: 0.875rem;
  text-align: center;
}
@media (min-width: 61.25em) {
  .pageDescription {
    font-size: 1rem;
  }
}
