article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  vertical-align: middle;
}

input {
  font-size: 1rem;
  border: none;
}
input:not([type="checkbox"]) {
  appearance: none;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  appearance: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: calc(100vh - 30px);
  margin: 4px;
  padding: 27px;
  color: #ccc;
  background-color: #252828;
  border: 1px solid #26a69a;
}

@media (min-width: 46.25em) {
  body {
    padding: 59px;
  }
}
@media (min-width: 61.25em) {
  body {
    margin: 15px;
    padding: 15px;
    border: 2px solid #26a69a;
  }
}

a {
  color: #26a69a;
}

.mainContainer {
  margin-top: 3rem;
}
@media (min-width: 61.25em) {
  .mainContainer {
    max-width: 720px;
    margin: 75px auto 0;
    padding: 0 1.0875rem;
  }
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  word-break: break-all;
  background: #393c3c;
}
